@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Inter:wght@400;500;700&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, coffee, black, forest, bumblebee, caramellatte;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a1a;
  position: relative;
  overflow-x: hidden;
}

.text-gradient-vertical {
  background: linear-gradient(to bottom, #d97706, #f59e0b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-horizontal {
    background: linear-gradient(to right, #d97706, #f59e0b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}